server_lock
.rbchromedata
**/Debug/
**/out/
**/cache/
**/bower_components/
*.obj
*.pdb
*.log
*.sdf
*.ilk
*.exp
*.idb
*.suo
*.*log
*.lib
**/cache/f_*
**/cache/data_*
**/cache/Cookies*
**/cache/Dictionaries
**/cache/GPUCache
**/cache/index
**/cache/IndexedDB
**/*.opensdf
